[2019-02-10 20:07] bolkedebruin opened #6 "Install instructions do not end up in working environment"
Hi Guys! Awesome that it is open sourced now! I was just trying things out and didn't get too far yet.

1. The linked metadata service is missing (you probably know this)

I also followed the instructions to a minimal view but got this

[code]

Like I said I didn't dive in yet.

[2019-02-12 04:06] ttannis commented on #6
Hi @bolkedebruin, yes the metadata service is still missing. Thanks for raising the issue, I took a quick look and see the issue. We're on it.

[2019-02-12 18:20] danwom commented on #6
@bolkedebruin Can you try running the following commands and then starting the server?
[code]

It appears the `amundsen_application/static/dist/templates/index.html` file could not be found. This file is created during the build process.

[2019-02-12 21:01] feng-tao commented on #6
@bolkedebruin , great to see you here. We are still in the process of open source the final repo(amundsenmetadatalibrary). Will let you know once it is done.

[2019-02-12 21:11] bolkedebruin commented on #6
@feng-tao no worries ;-) just making sure you guys know we are aware.

[2019-02-12 21:14] bolkedebruin commented on #6
@danwom tried that again (it is part of the install instructions), but no luck yet.

[2019-02-12 21:41] feng-tao commented on #6
@bolkedebruin , the metadata repo is now open source as well.(https://github.com/lyft/amundsenmetadatalibrary)

[2019-02-12 22:27] ttannis commented on #6
@bolkedebruin do you have an `amundsen_application/static/dist` directory after running `npm run build`? If so what are the contents?

[2019-02-13 07:23] feng-tao opened #11 "Update readme to include screenshoot of the tool"
We should add screenshots for different functionalities of the tool.

[2019-02-13 07:23] feng-tao commented on #11
@ttannis @danwom

[2019-02-13 17:43] ttannis commented on #11
Agreed, however I'd consider this task to be in waiting until we have a richer example data set that mimics real data.

[2019-02-13 17:47] feng-tao commented on #11
@ttannis , just create the issue here to remind us :)

[2019-02-20 23:22] jinhyukchang commented on #6
@bolkedebruin Are you still blocked?

[2019-02-21 02:32] bolkedebruin commented on #6
blocked with the flu ;-)

[2019-02-22 01:04] verdan commented on #6
got it working using install instructions. (with and without metadata and search services both) 👍

[2019-02-22 03:40] feng-tao commented on #6
thanks @verdan for confirming :) and @bolkedebruin hopefully you will get well soon :)

[2019-02-22 06:58] feng-tao opened #18 "Integrate readthedoc with the repo"
Popular open source projects leverage readthedoc to build and host their docuements(e.g [Apache Airflow doc](https://airflow.readthedocs.io/en/stable/)). We should integrate with the tool as well.

[2019-02-22 18:59] feng-tao opened #19 "Add CONTRIBUTING.md"

[2019-02-25 19:53] feng-tao commented on #6
@verdan @bolkedebruin we just create a slack workspace. Here is the invitation link(https://bit.ly/2tFsN1X). Feel free to ask us questions in that workspace :)

[2019-02-27 05:20] feng-tao opened #28 "Add doc to document API response between FE and metadata / search"

[2019-02-27 19:31] feng-tao commented on #28
cc @danwom

[2019-03-04 09:44] verdan opened #37 "Add support for OpenID Connect (OIDC)"

[2019-03-04 19:00] ttannis commented on #6
@bolkedebruin hope you're feeling better. Please let us know if you are still having an issue or if we can go ahead and close this issue. I know @verdan got it working, but I'd like the rule out the chance that there is some environment specific issue with our setup instructions.

[2019-03-04 20:13] bolkedebruin commented on #6
@ttanis thanks for checking up.on.me ;-) my team is working on it. They are figuring out some stuff now and see what the best approach is. Probably one or two extra ppl will get involved

[2019-03-04 21:01] feng-tao commented on #37
cc @ttannis @jinhyukchang
@verdan , my understanding is some of the existing Flask framework has supported OpenID
(https://flask-appbuilder.readthedocs.io/en/latest/security.html#authentication-openid) which you could inject the flask framework in runtime. At Lyft, we actually inject lyft specific flask framework internally and use SAML authentication which I believe we could do the same for OpenI

[2019-03-04 22:56] feng-tao opened #41 "Update roadmap.md"
cc @markgrover @philippemizrahi

[2019-03-04 22:57] feng-tao commented on #41
we should include all our upcoming planned features to provide the transparency for the external communities.

[2019-03-27 14:36] verdan opened #61 "The terms `schema` and `db` can have multiple meanings and confusing"
The terminology used for Amundsen table URI is a bit confusing and people can interpret that in multiple ways. We should make them consistent as what is being used normally.

As per @feng-tao [here](https://amundsenworkspace.slack.com/archives/CGFBVT23V/p1553547523009800): I think the `schema` term at Amundsen is same as database (e.g `create database`) while `database` is used to define the syste

[2019-04-01 17:04] feng-tao commented on #61
@verdan,  agree that this is overloaded term. Hive / RS uses database / schema interchangeably.  And this involves / requires changes in all the repos(fe, search, databuilder, metadata) as this is the contract to define a table.  I think it is good to do it in long term. But my only concern will be time and testing for this change and this would be major version change as well.

@jinhyukchang WDYT

[2019-04-02 11:44] verdan opened #62 "Only one data source owner"
Technically there should only be one data owner (the one who created that source/table), but we are allowing multiple owners for the tables.
At the moment, **Owned By** allows you to put multiple owners on the table detail page.

[2019-04-02 21:48] feng-tao commented on #62
@verdan , that's correct at this moment. At Lyft, our table could be owned by team as well as user.

[2019-04-02 23:52] jinhyukchang commented on #61
I think `database` in Amundsen is basically name of the database system/type such as Hive, Redshift, Dynamodb, Mongodb etc.
I think the collision comes with the databases that uses database as a namespace of a table. I agree that schema is not a good naming in this case because it's not adopted by all databases, but also I think `database` is not a good name with the same reason.

As all databases

[2019-04-03 09:00] verdan commented on #62
Emm, yes I think the difference is Owned by and Created By. I will come back to this thing later with more details. Closing this for now.

[2019-04-03 09:00] #62 closed

[2019-04-03 15:16] tomsej opened #64 "Docker install does not work properly"
### Amundsen Version
Master

### Expected results
When I follow [Installation tutorial](https://github.com/lyft/amundsenfrontendlibrary/blob/master/docs/installation.md) everything works.

### Actual results
It fails with following error:
[code]
It is same as problem mentioned at issue #6

### How to fix that
Posibilities:

- Running `npm run build` before `docker build -f public.Dockerfile -t amu

[2019-04-03 15:16] tomsej commented on #64
BTW thank you for this wonderful project!

[2019-04-03 15:34] tomsej opened #65 "Different UI"
Hi! I have just installed whole Amundsen stack and it looks different to your attached screenshots:

My screenshot
![image](https://user-images.githubusercontent.com/6624716/55491239-69cfeb00-5635-11e9-8c9e-6b507be3d29f.png)

Your screenshot:
![image](https://user-images.githubusercontent.com/6624716/55491634-21fd9380-5636-11e9-8557-0b249aad527f.png)

I am curious if I did not build frontend corre

[2019-04-03 16:37] feng-tao commented on #65
cc @ttannis @danwom
@tomsej thanks for trying out Amundsen. But you are correct, the screenshoot is served as a design mock for the tool. Currently we haven't been able to share the Lyft styling and still work on build a generic color scheme for the tool in open source world.

In terms of the color scheme of the tool, I will let @ttannis  or @danwom  to answer as they have better context. And not

[2019-04-03 16:40] feng-tao commented on #64
cc @ttannis @danwom
@tomsej , thanks for reporting the issue. Feel free to create a pr to fix the issue :)

[2019-04-03 18:27] tomsej commented on #65
Thank you @feng-tao I am closing this issue!

[2019-04-03 18:27] #65 closed

[2019-04-03 18:31] tomsej commented on #64
@feng-tao ok will send PR tomorrow. I was not sure which way is preferable, think changing installation guide is ok for now.

[2019-04-03 18:37] tomsej opened #66 "Could not join Slack channel"
I could not join [Slack channel](https://amundsenworkspace.slack.com/join/shared_invite/enQtNTU5NDAzOTIzNDI3LTM3MzJkMTAxYzY4Y2U2YTI0OGQ4OTE5NWI2YzEzZTJmZDkzMzFmZDAxZjg3YjlkY2IwMGE0ZTkzMDlkMTQ5YTA), seems that link is no longer active.

Sorry for making a new issue :/ but it is usually easier to find.

[2019-04-03 18:48] feng-tao commented on #66
@tomsej , sorry about that. It seems the original invitation link expired. I just created a new one(https://join.slack.com/t/amundsenworkspace/shared_invite/enQtNTk2ODQ1NDU1NDI0LWVmZWM4ZWQ4MzdjYjEzNmU5NDcwMmFiMDY5YjBlMWY3MTgyNjdjZDk4MGYxZTEyZjg2NThlODdlMTQwOGZiYTY) which shouldn't expire . Let me know if you still encounter any issues. I will update the readme as well.

[2019-04-03 18:53] feng-tao commented on #66
@tomsej , the slack link in readme.md has been updated :)

[2019-04-03 19:06] #66 closed

[2019-04-03 20:33] jornh commented on #41
Looks like what's stated in these few slides I just shamelessly clipped from the new presentation you just linked to in the `README` - might be a good beginning: 😄

https://www.slideshare.net/JrnAHansen/clipboards/my-clips

[2019-04-03 20:54] feng-tao commented on #41
thanks @jornh  :) cc @markgrover @philippemizrahi

[2019-04-06 22:23] verdan commented on #61
@jinhyukchang I had the different concept of schema until I had the discussion with @feng-tao on slack channel, and understood as the database schema initially. I agree that this term is being used in many places and is not easy to refactor, but it definitely conflicts with table schema (column information) and database schema (public, etc.)
`namespace` is a nice term, but you have a point that th

[2019-04-08 13:52] verdan opened #68 "Make `POPULAR_TABLE_COUNT` a config variable"

[2019-04-08 13:56] verdan commented on #37
Ah, nice! We'll do something similar, thanks @feng-tao
So, I'm perfectly okay to close this issue if we've no plans to explicitly support OIDC for Amundsen.

[2019-04-08 17:48] jinhyukchang commented on #37
@verdan Cool. Let us know how it goes. Closing.

[2019-04-08 17:48] #37 closed

[2019-04-08 20:51] feng-tao opened #69 "Document how to integrate amundsenfrontend with Apache superset"
At Lyft, we integrate Amundsen with Apache superset for table data preview as well as sql exploration. We should document how we do the integration (e.g which endpoint we call superset to get the preview data etc)

[2019-04-08 20:51] feng-tao commented on #69
cc @danwom @ttannis

[2019-04-08 20:51] feng-tao commented on #69
FYI @verdan

[2019-04-10 09:13] verdan opened #70 "Implement a config variable that will allow the owners to edit their datasets"
For now, we are relying on `UNEDITABLE_SCHEMAS`, but what if want the owners to change the datasets they own.
For example, it could be: (I don't know atm, which would take precedence)
[code]

thoughts ?

[2019-04-10 11:05] thenaturalist commented on #6
Hi, just followed the source installation guide (incl. `npm` builds) and I get the exact same error trace as posted initially.

@ttannis contents of `amundsen_application/static/dist/` are
[code]

[2019-04-10 16:08] feng-tao commented on #6
cc @ttannis @danwom
also @verdan , do you know if you encounter this issue or how you solve the issue on your end? My understanding is that we can't reproduce this issue, but it is worth to revisit it :(

[2019-04-10 18:27] feng-tao commented on #70
cc @ttannis @danwom @jinhyukchang
LGTM on my side.

[2019-04-10 18:39] ttannis commented on #70
Fine by me as well. I think `ALLOW_ADMINS_TO_EDIT` could take precedence over `UNEDITABLE_SCHEMAS` if it's default value is `False`. Essentially anything that overrides `UNEDITABLE_SCHEMAS` going forward would just have to be opt-in.

[2019-04-10 19:19] jinhyukchang commented on #70
@verdan I understand the need, but please note that anyone can add themselves as owner and edit in this case.

[2019-04-10 20:21] verdan commented on #70
@jinhyukchang not sure if I understood correctly, but only owner will be able to add other owners through Amundsen, right? I can't add myself as owner because the owner field would be uneditable for me as a normal user.

[2019-04-10 20:40] ttannis commented on #70
Ah, great point from @jinhyukchang. Right now `UNEDITABLE_SCHEMAS` only applies to the descriptions, so what Jin mentioned is correct. We now have a use case for not just specifying which schemas are editable, but which pieces of metadata on those schemas are editable as well.

[2019-04-10 20:57] verdan commented on #70
I see. Yes good point. I thought is_editable applies for all the editable fields, like owner, descriptions, tags etc.

[2019-04-11 10:30] verdan commented on #6
Tried to setup the project from scratch, but still unable to reproduce the issue.
The `/dist/` content looks good to me. @thenaturalist can you please let us know the contents of `amundsen_application/static/dist/templates/`? and also the version of Node and npm ?

[2019-04-11 10:46] thenaturalist commented on #6
Versions:
- node: `11.13.0`
- npm: `6.7.0`

Contents for `amundsen_application/static/dist/templates`:
[code]

An error I didn't pay attention to the first time (terminal window size) is that `npm install` partially fails. Trace:

[code]

[2019-04-11 18:48] ttannis commented on #6
@thenaturalist I think that the package in question is not supported by Node v11.x. Could you try downgrading your version of Node?
https://github.com/fsevents/fsevents/issues/246

[2019-04-11 19:03] danwom commented on #6
For reference I am using `node v8.12.0` and `npm 6.4.1`. I haven't upgraded to `node v10.x.x` yet, so there may still be compatibility issues. I will update the doc with working versions.

[2019-04-11 19:16] verdan commented on #6
@danwom I'm running `node v10.12.0` and `npm 6.9.0`. We should also give node v11.x a try.

[2019-04-12 04:42] feng-tao commented on #68
thanks @verdan , change is merged.

[2019-04-12 04:42] #68 closed

[2019-04-12 10:17] thenaturalist commented on #6
@verdan Downgraded node to `v10.15.2` to no avail. Build works fine now, error stays exactly the same. Although I dabbled around a bit after reading up on the error, there is just no way `render_template('index.html')` completes successfully.

[2019-04-12 10:57] verdan commented on #6
@thenaturalist please bare with us while we are still trying to reproduce this on our end. I tried to build the whole project from scratch without any problem.
The only typo in the installation instruction was a requirements.txt https://github.com/lyft/amundsenfrontendlibrary/pull/75

Can you please confirm what's the output of `pip freeze`? Secondly, can you please try running `npm run dev-build`

[2019-04-12 12:09] thenaturalist commented on #6
@verdan happy to.

`npm run dev-build` leads to the same error. Again, `dist/*` is completely missing in the compiled `static` dir of the package in the venv.

`pip freeze` output:
[code]

[2019-04-12 21:00] danwom commented on #6
I am fairly confident I have found a fix for this issue. Basically it is an order of operations error between `python3 setup.py install` and `npm run build`. The python install step generates an index of source files in `amundsen_frontend.egg-info/SOURCES.txt`. The `npm run build` step generates new files under `static/dist/` that are not yet indexed. When the server runs in the `python3 amundsen_

[2019-04-12 21:32] feng-tao commented on #6
cc @bolkedebruin  as well

[2019-04-12 21:38] danwom commented on #64
I believe this has the same root cause as https://github.com/lyft/amundsenfrontendlibrary/issues/6, and may share the same solution. Can you try following the updated instructions here https://github.com/lyft/amundsenfrontendlibrary/pull/77?

Thanks!

[2019-04-15 07:52] verdan opened #79 "Update setup script to add requirements"
In order to make amundsen work using pip, we need to add the requirements under `install_requires` in setup.py.

P.S: We don't have that much requirements, so we can avoid dividing the requirements in separate files i.e., test, dev etc, and do something like this: (but yeah that would add extra testing packages for end users)

[code]

[2019-04-15 08:04] thenaturalist commented on #6
Can confirm this works now! Thanks guys!

[2019-04-15 12:26] verdan commented on #6
cool @danwom @feng-tao. I believe now you also need to update the PyPi version, to make the `dist` available there.

[2019-04-15 19:46] verdan commented on #79
cc: @feng-tao

[2019-04-16 04:13] feng-tao commented on #79
https://github.com/lyft/amundsenfrontendlibrary/pull/82

[2019-04-16 14:57] verdan opened #83 "Did we intentionally make the frontend font size bigger ?"
**Before**
<img width="800" alt="Screen Shot 2019-04-16 at 4 55 05 PM" src="https://user-images.githubusercontent.com/25360476/56220304-8245f980-6068-11e9-9bcf-182cbc78f9ee.png">

**After**
<img width="800" alt="Screen Shot 2019-04-16 at 4 35 38 PM" src="https://user-images.githubusercontent.com/25360476/56220303-81ad6300-6068-11e9-9e68-76cb4d5795ac.png">

@jinhyukchang

[2019-04-16 16:33] jinhyukchang commented on #83
Hey @verdan ,
I believe this was part of UI improvement happened recently, but it seems like open sourced version does not show well as it's using different font.

@danwom Could you take a look?

[2019-04-16 16:33] jinhyukchang commented on #83
Ref PR: https://github.com/lyft/amundsenfrontendlibrary/pull/57

[2019-04-16 16:34] feng-tao commented on #83
@danwom could you take a look? I believe it is related to the UI revamp work.

[2019-04-16 17:50] feng-tao commented on #79
pr is merged. close this issue.

[2019-04-16 17:50] #79 closed

[2019-04-16 17:51] feng-tao commented on #6
thanks @verdan @thenaturalist @danwom @jinhyukchang @bolkedebruin , I also commit a pr to update the setup.py script per Verdan's suggestion and bump the pypi version. I think the issue could be closed now.

[2019-04-16 17:51] #6 closed

[2019-04-16 18:23] danwom commented on #83
Yes, all of these sizing and spacing changes were intentional. These are more in line with specs produced by our design team. We also produced designs specs (fonts, colors, etc) specifically for the OSS version recently but haven't had a chance to work on it. I realize these specs are not available to the public but I wonder what's the right format and place to share them.

I'll spend some time to

[2019-04-16 19:19] feng-tao commented on #64
close this issue for now, @tomsej let us know if you still encounter the same issue and feel free to reopen one.

[2019-04-16 19:19] #64 closed

[2019-04-17 04:07] feng-tao opened #84 "Fix eslint error"
ERROR: /Users/tfeng/tmp/amundsenfrontendlibrary/amundsen_application/static/js/components/NavBar/index.tsx[6, 1]: Multiple imports from 'react-router-dom' can be combined into one.
ERROR: /Users/tfeng/tmp/amundsenfrontendlibrary/amundsen_application/static/js/components/ProfilePage/index.tsx[111, 22]: This expression is unnecessarily compared to a boolean. Just negate it.
ERROR: /Users/tfeng/tmp/a

[2019-04-17 18:00] verdan opened #86 "Setup PyUp to automatically update the python dependencies"
Free for open source projects, automatically creates Pull Request to update python dependencies.

https://pyup.io/

We are using this in python atlas client.
ref PRs: https://github.com/jpoullet2000/atlasclient/pulls?q=is%3Apr+is%3Aclosed+author%3Apyup-bot

[2019-04-19 19:34] ttannis commented on #86
Hey @verdan I think this is a great idea for security updates, or even for minor releases as well.

I wonder if upgrades to major releases that aren't security related should still be done intentionally with input from a representative from each working group, to ensure that everyone's internal development environment will be compatible with the change. Thoughts?

[2019-04-19 19:40] ttannis commented on #70
@verdan this is just the initial approach that we've taken in order to increase the richness of our metadata by letting anyone with access to the tool edit metadata. In the future we may revisit that decision. All that aside, we're on board with having a more flexible configuration.

[2019-04-23 01:46] ttannis commented on #84
I confirmed my suspicion that lint errors were making it past the Travis tests, it's a quick fix once I found out why that happened. Thanks for flagging this.

[2019-04-23 17:49] ttannis commented on #84
Fixed by #94

[2019-04-23 17:49] #84 closed

[2019-04-25 18:41] rosejcday commented on #18
I would be interested to work on this. I can work to develop the docs using Sphinx which can be then added to readthedoc site.

- Who would add them to readthedoc when done?
- What type of information are you looking to add to this?

[2019-04-25 19:04] feng-tao opened #101 "Provide a quick start script to install eveything"
Currently user needs to follow the instruction in the installation doc step by step. It would be great to provide a shell script to install everything for the user.

[2019-04-25 19:04] feng-tao opened #102 "Register the docker images for all 3 repos in dockerhub"

[2019-04-25 19:41] #11 closed

[2019-04-26 16:32] bolkedebruin opened #105 "Create docker with Amundsen-Atlas"
We should update the readme as well to include the possibility of Atlas as well

[2019-04-26 16:38] feng-tao commented on #105
+1, @bolkedebruin @verdan could you guys open a pr for that?

[2019-04-26 17:37] jornh commented on #105
That would be super awesome! Having an easy on-ramp to kick the tires and quickly compare and contrast different alternatives using `docker-compose up` or similar FTW.

[2019-04-28 15:43] bolkedebruin commented on #105
@feng-tao working on it. Can you ensure there are "official" amundsen docker images? they seem now to be private or not pushed?

[2019-04-28 15:48] bolkedebruin opened #109 "Disable Google Analytics by default"
Google analytics seems to be enabled by default (although with a key that probably doesn't make sense). I don't think it should be enabled by default within corporate boundaries (our firewalls block this)

[2019-04-28 20:40] bolkedebruin opened #110 "Design lineage UI"
Lineage information should be displayed in the UI. Atlas shows the following

<img width="464" alt="Screenshot 2019-04-28 at 18 02 21" src="https://user-images.githubusercontent.com/4282712/56869858-a01b4300-6a06-11e9-9637-cfd388da5722.png">

[2019-04-29 17:06] bolkedebruin commented on #105
This was merged.

[2019-04-29 17:06] #105 closed

[2019-04-29 17:46] feng-tao commented on #109
cc @danwom @ttannis

[2019-04-29 20:09] danwom commented on #109
That's a good point. I'll push a PR to disable this by default when I have some spare cycles.

[2019-04-30 03:50] feng-tao commented on #110
cc @ttannis @danwom

[2019-04-30 05:47] feng-tao commented on #102
https://github.com/lyft/amundsenfrontendlibrary/pull/115

[2019-04-30 05:48] feng-tao commented on #102
I published the docker images for all 3 repos with latest master to dockerhub. Create https://github.com/lyft/amundsenfrontendlibrary/pull/115 to update the script.

[2019-04-30 05:58] feng-tao opened #116 "Add docker push step into CI"
Now we have docker image in dockerhub. We should create a new step in CI to publish the image.

[2019-04-30 18:29] jornh opened #117 "Docker build errors due to missing npm"
When doing a `docker build ....` in this repo you’ll experience the error message shared over in the metadata repo in this issue thread: https://github.com/lyft/amundsenmetadatalibrary/issues/20#issuecomment-488056349 (see container build output shared by @rosejcday further up in the issue over there.

I suspect the reason for the failure is that the python docker base image doesn’t contain node a

[2019-04-30 18:43] verdan commented on #86
@ttannis I totally agree. 👍

[2019-04-30 21:26] #102 closed

[2019-05-01 00:09] #101 closed

[2019-05-01 05:02] jornh commented on #28
Maybe it’s viable to automate? And make into interactive “swagger style” UI?
I love what they did with *ReDoc* in Marquez here: https://marquezproject.github.io/marquez/openapi.html

Potentially https://flask-rest-api.readthedocs.io/en/stable/quickstart.html looks like it *could* fit the bill.

[2019-05-01 13:08] ashitabh opened #120 "npm run build on windows"
npm run build on windows 10 fails with the following error
'TS_NODE_PROJECT' is not recognized as an internal or external command,

[2019-05-01 14:01] ashitabh commented on #120
no problem , using cross-env fixed that

[2019-05-01 14:01] #120 closed

[2019-05-01 19:11] gschmutz commented on #117
I'm having a problem with the docker image as well. When I start the environment using the docker-compse.

`
amundsenfrontend    | 2019-05-01T17:57:21+0000.082 [ERROR] app.log_exception:1761 (1:Thread-3) - Exception on /favicon.ico [GET]
amundsenfrontend    | Traceback (most recent call last):
amundsenfrontend    |   File "/usr/local/lib/python3.7/site-packages/flask/app.py", line 2292, in wsgi_ap

[2019-05-01 19:31] verdan opened #122 "Support versioning of Tables in amundsen"
To explore the historical metadata, we should support the versioning of tables in Amundsen to understand what changed in each version of Table.
There would be a detail page for each version of a table, including the column information of that particular version.

Apache Atlas provides this information in the form of "Deleted" Table and Columns entities, and can be filtered out using the `entitySta

[2019-05-02 12:28] #83 closed

[2019-05-04 07:57] gtoonstra opened #132 "Experiences running amundsen on latest osx"
Could be helpful to have everything in one place, so documenting this here.

When using brew and latest of everything on mac osx, I got errors building npm install:

../../nan/nan_implementation_12_inl.h:103:42: error: no viable conversion from 'v8::Isolate *' to 'Local<v8::Context>'

This is right after installing npm using brew, which installs node version 12.

I downgraded to node version 10:

[2019-05-04 18:33] jornh commented on #132
Tried triggering a Node 12 CI build:
 https://travis-ci.com/lyft/amundsenfrontendlibrary/jobs/197665234#L1224 indicates a need to bump node-sass to [4.12+](https://github.com/sass/node-sass#node-sass) (It got released 8’ish days ago - https://github.com/sass/node-sass/pull/2633)

Possibly other deps need bumping as well, I saw `chokidar` (needs to go to 3.0 released a few days ago) -> `fsevent` ->

[2019-05-06 21:58] feng-tao commented on #132
cc @ttannis

[2019-05-06 22:27] jornh commented on #132
@ttannis FYI I  investigated a little bit further: https://github.com/lyft/amundsenfrontendlibrary/pull/134/checks (Linux build with Node 12, and just Node-sass bumped to 4.12 - that alone seemed to build)

I’m not sure what a good approach is regarding CI cross-platform, and across Node/Python versions. It quickly becomes a big matrix.

[2019-05-06 22:31] ttannis commented on #132
@jornh  I don't see a need to update to Node 12 at the moment until it becomes the recommended release: https://nodejs.org/en/

As a new project working towards stability, quality, and delivering more value via new features, supporting the latest versions of all our dependencies opens us up to also having to deal with potential new problems and incompatibilities, which will potentially slow down o

[2019-05-07 01:03] danwom commented on #132
In my opinion, we shouldn't be on the Current version of Node as we may encounter too many breaking changes, compatibility issues, and errors. I recommend using the Active version, Node 10. Locally I'm still using v8.12.0, so I'm overdue for an upgrade.

<img width="782" alt="Screen Shot 2019-05-06 at 5 55 38 PM" src="https://user-images.githubusercontent.com/4338702/57264706-52b35d00-7028-11e9-87

[2019-05-07 02:38] jornh commented on #132
Active, so currently 10, sounds like the right version  to be on with respect to CI then if we want it simple with one version (Travis is currently on 8).

But I guess this doesn’t exclude us from slowly bumping packages like e.g. `node-sass` in this case to let people who just casually happen to land on Current *maybe* have it working, and be Amundsen’s daredevil front runners easing us into the

[2019-05-09 21:39] ttannis opened #145 "Enable "npm run tsc""
The "npm run tsc" command currently cannot be used to run type checking because of a current un-investigated error. Developers can rely on "npm run build" and "npm run dev-build" to conduct type checking, but that command wastes a bit of time when all that is needed is to run the type checker instead of completely building the source.

We want to investigate the source of the "npm run tsc" errors

[2019-05-09 21:45] ttannis opened #146 "Enable --strictNullChecks"
Enabling `--strictNullChecks` helps us better leverage TypeScript to ensure that if we write code that attempts to access a property of a null or undefined variable, the error will be caught. Expect that many of our type definitions will have to be updated as well.

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html

[2019-05-09 21:55] ttannis opened #147 "DataPreview needs rendering improvements"
The data preview component needs several UI updates. While maintaining the same look and feel, we want to:

1. Render a table that keeps fixed headers when scrolling vertically
2. Fit the height of the rendered content to the modal -- the horizontal scroll bar should be visible without having to scroll down.
3. Support the ability to render non-primitive values. For example, values like numbers, s

[2019-05-09 22:04] verdan commented on #69
@feng-tao it would be nice to have this doc available anytime soon :)

[2019-05-09 23:34] feng-tao commented on #69
@verdan , I only knew we used https://github.com/apache/incubator-superset/blob/959c35d506759bdbea48db55ef61677f4c1ebd7d/superset/views/core.py#L2589 to get the data preview from superset sqllab. But I will defer it to @ttannis  as she and Max(@mistercrunch) did the setup :( I never setup superset locally before.

[2019-05-09 23:55] feng-tao commented on #69
And for the context, we have an internal version of superset client in Amundsen which uses internal ACL header to query superset as we need to pass user session info to superset to Authz and see if the user is allowed to see the actual data.

I think we could modify the client to make it open source able. The difficult part is that both of us haven't setup the master branch of superset locally bef

[2019-05-09 23:57] feng-tao commented on #69
cc @youngyjd as he did setup superset locally before.

[2019-05-10 12:54] gtoonstra commented on #132
I'm happy to close this issue, just wanted to have the history there, so that when people search for solutions, they find this. The "requirements" section hints at "compatibility issues" already anyway, so if we get more qeustions related to "doesn't work on node@12" we should look at drawing more attention to that version.

[2019-05-10 22:11] jinhyukchang commented on #116
Merged https://github.com/lyft/amundsenfrontendlibrary/pull/153

Currently Travis fails with timeout when pulling image of `python/library`
Will take a look later.

Not reverting it as it's not affecting build & publish to Pypi.

[2019-05-10 23:22] jinhyukchang commented on #116
Retried the build and it was successful. It seems it's an issue with Travis.
https://github.com/travis-ci/travis-ci/issues/9127

Will create another issue to track this issue.

[2019-05-10 23:22] #116 closed

[2019-05-10 23:23] jinhyukchang opened #154 "Transient Docker pull timeout from Travis."
This is known issue from Travis
https://github.com/travis-ci/travis-ci/issues/9127

One action item from Amundsen:
- Research if there's a way to get a notification of failure

[2019-05-13 15:53] jornh commented on #154
Seems there's a whole *long* page with lots of notification possibilities - even something *for the truly curious* - https://docs.travis-ci.com/user/notifications/#for-the-truly-curious (I guess a start would be to have *all failing builds* go to a committer - or a list/Slack channel/whatever, even better would be if it's possible to just filter out those of tag builds only, to reduce noise level)

[2019-05-13 16:00] jornh commented on #154
Ah - the webhook section https://docs.travis-ci.com/user/notifications/#configuring-webhook-notifications has pretty clear definition of filtering capabilities, plus if that's not enough I guess that JSON should be pretty easy to parse

[2019-05-15 17:21] feng-tao commented on #145
thanks @alran . I think the issue could be closed now.

[2019-05-15 17:21] #145 closed

[2019-05-15 23:00] ttannis commented on #69
Addressed with https://github.com/lyft/amundsenfrontendlibrary/pull/159

[2019-05-15 23:00] #69 closed

[2019-05-20 20:47] jornh commented on #117
I did a docker pull of the *new version from today* of 1.0.5 (actually by setting the `:1.05` instead of `:latest` tag in `docker.amundsen.yml`).

Seems to work fine now, and includes `index.html` and other FE payload as expected.

I propose we start tagging versions for docker images in the compose files. This ensures people get well know and reproducible combinations of containers (just like ver

[2019-05-20 20:47] #117 closed

[2019-05-20 21:28] jornh commented on #117
Just submitted PR #166 I warned you about in https://github.com/lyft/amundsenfrontendlibrary/issues/117#issuecomment-494144996 above

[2019-05-20 23:31] jornh commented on #28
So, I gave API documentation a shot. It’s possible to generate automatically from source comments with a plugin in Sphinx.

I got a half baked (demo 😁) sitting on my fork. It still needs fixes to source comments etc. to really be in a presentable state. And since it’s generated from the frontend repo it’s actually about FE api, but hey I call it a start!

Here’s a teaser screenshot:
![image](https

[2019-05-20 23:34] feng-tao commented on #28
@jornh that's awesome :) Let us know if you have the work ready :) That will be so helpful to onboard.

[2019-05-21 22:36] verdan opened #170 "Frontend configurations to be set using API"
In order to support all the customizations of the frontend i.e., the logo path etc (mentioned [here](https://github.com/lyft/amundsenfrontendlibrary/blob/master/amundsen_application/static/js/config/config-default.ts)) when installed using a pip package (already compiled), we need to pass those configs from backend and store them in React's store and use them instead of hardcoding them on frontend

[2019-05-24 07:00] ashitabh opened #172 "No data/table visible in frontend"
I don't see any table in frontend
I tried with sample data builder , I can see the 2 tables in Neo4j
MATCH (n:Table) RETURN n LIMIT 25
and 2 entries in elastic search
hive://gold.test_schema/test_table1
dynamo://gold.test_schema/test_table2

however , UI is still not showing any table

[2019-05-24 11:09] ashitabh commented on #172
neo4j somehow was not connecting , any its working now

[2019-05-24 11:09] #172 closed

[2019-05-24 17:31] feng-tao commented on #172
thanks @ashitabh . good to hear :)

[2019-05-28 22:03] danwom opened #177 "Use 'raise_for_status' in python API calls"
https://github.com/lyft/amundsenfrontendlibrary/pull/156/files/11ead489d7a46d12f986aa0d673c313d74cbb81b#r287533106

[2019-06-01 00:09] javamonkey79 opened #186 "running amundsen in ec2 results in error"
1. Create an ec2 instance (I am working with t2.xlarge)
2. switch to root (sudo su)
3. run the following commands

[code]

Note the following errors:
[code]

[2019-06-01 00:10] javamonkey79 commented on #186
Updating the ulimit in the docker-compose file still gives this:
[code]

[2019-06-01 00:17] javamonkey79 commented on #186
This is related to https://github.com/docker/compose/issues/4143

Basically, you need to run a few commands on your host system (ec2) first:
`sudo sysctl -w vm.max_map_count=262144`
`sudo ulimit -n 65535`

[2019-06-01 00:17] #186 closed

[2019-06-09 07:08] rjindal02 opened #194 "Updating Tags does not update Elastic Indexes"
When updating "Tags" from frontend, it does update backend Neo4j but does not update Elastic indexes. Hence, once tags are updated, they are not searchable.

[2019-06-10 08:42] jornh commented on #194
Currently a job with databuilder [`ElasticSearchPublisher()`](https://github.com/lyft/amundsendatabuilder/tree/v1.3.0#elasticsearchpublisher) – and related `Neo4jSearchDataExtractor()` and `FSElasticsearchJSONLoader()` need to run to rebuild the ES index.

If you are exploring the “Quickstart” example you can simply re-run `example/scripts/sample_data_loader.py` as it runs that job:

https://githu

[2019-06-10 21:14] jornh commented on #194
If you pull master of the Databuilder repo you will now get updated footer about when you last triggered Elasticsearch re-index since this PR just got merged: https://github.com/lyft/amundsendatabuilder/pull/86

[2019-06-18 20:49] danwom commented on #109
Working on this now.

[2019-06-18 22:31] danwom commented on #109
https://github.com/lyft/amundsenfrontendlibrary/pull/198

[2019-06-20 02:41] joaolcorreia commented on #110
I would recommend checking GetDBT viz for DAGs it is pretty neat.
You can see a demo here: https://www.getdbt.com/example-documentation/#!/overview

![Data](https://files.readme.io/2ce8dce-Screen_Shot_2018-09-16_at_11.46.12_AM.png)

[2019-06-20 20:19] jornh opened #202 "A small FE data preview UI glitch - if you run *without* SuperSet integration"
With Quickstart on the recent v1.0.6 compose file i see a small "lie" with it showing the newly introduced loading spinner:

![image](https://user-images.githubusercontent.com/766423/59878728-523d0e80-93a9-11e9-8e06-d8572e46b331.png)

[2019-06-20 21:12] feng-tao commented on #202
cc @ttannis @danwom

[2019-06-20 21:13] feng-tao commented on #202
@jornh , I am wondering did you get Amundsen integrated with airflow?

[2019-06-20 21:52] jornh commented on #202
@feng-tao Nope, but glad you noticed my teaser image 😉 for the Quickstart demo for populating the `DAG` - `write_to` -> `Table` model.

I will do a PR probably early next week.

[2019-06-20 23:48] danwom commented on #109
#198 is merged, let us know if this works for you.

[2019-06-21 06:10] bolkedebruin commented on #109
Awesome! @danwom. This was bigger than I expected it to be so thanks!

[2019-06-24 19:10] jornh commented on #202
PR https://github.com/lyft/amundsendatabuilder/pull/94 submitted as mentioned above

[2019-06-24 23:10] ttannis commented on #202
@jornh thanks for catching this. A one line change caused a regression in our application state management.

[2019-06-26 06:18] jornh opened #212 "Missing `/docs/deployment.md` - a guide for How-To deploy Amundsen in production"

[2019-06-26 16:26] joaolcorreia commented on #212
AWS could be common for deployment, possibly using https://aws.amazon.com/ecs/?

[2019-06-28 13:55] tpcarrier opened #213 "Feature request - knowledge posts/repository"
As a 'data discovery' platform, I should aim to empower users across my organization to make better decisions - based on data. I should allow new users to onboard quicker to the organization and learn about the business, help users answer (most of) their own 'data' questions through past analysis, and reduce the barriers of access to analyze data on questions that have yet to be answered.

Once an

[2019-06-28 17:30] feng-tao commented on #213
I am wondering whether the knowledge repo provides guideline on how it integrates with its internal data portal.

cc Max @mistercrunch and see if he knows (or John @john-bodley from Airbnb)

[2019-06-28 21:30] jornh commented on #202
Can confirm #210 resolves my OP issue:

![image](https://user-images.githubusercontent.com/766423/60372287-79748b00-99fc-11e9-99a5-96ae563b21f6.png)

Thank you @ttannis! 🙂

[2019-06-28 21:30] #202 closed

[2019-06-28 21:39] jornh commented on #109
With #198 merged it looks like this issue can be closed?

[2019-06-28 21:41] john-bodley commented on #213
At Airbnb we merely scrape the Knowledge Repo database for relevant metadata which is added to the Neo4j graph and Elasticsearch cluster. The actual posts are merely iframed within our data portal.

[2019-06-28 21:42] feng-tao commented on #213
thanks @john-bodley for the info:)

[2019-06-28 21:48] #109 closed

[2019-06-28 21:48] feng-tao commented on #109
thanks

[2019-07-19 14:42] jornh opened #231 "Document config through env vars"
For this and metadata + search repos for much of the localConfig.py settings there is also the possibility to give configuration through environment vars. Documentation should reflect that as an alternative to using localConfig which might require rebuilding python packages and/or docker images.

Related Slack thread: https://amundsenworkspace.slack.com/archives/CHQERT0D7/p1563544756136000?thread_

[2019-07-22 21:48] rahilvora commented on #146
Should I go ahead and work on this?

[2019-07-22 21:48] rahilvora commented on #147
Should I go ahead and work on this?

[2019-07-23 22:50] javamonkey79 opened #234 "feature request - sample queries for tables"
It would be useful, to provide a sample queries field in the table view, such that users can get a jump start, on how to use a table and it's columns.

[2019-07-26 16:52] jornh commented on #41
I guess with https://github.com/lyft/amundsenfrontendlibrary/pull/235 (and it’s 🐑 clone in the umbrella repo) this is resolved?

[2019-07-29 20:58] jornh commented on #212
## Neo4j backup and restore

Install the Neo4j APOC plugin (in a folder next to your `example/docker/neo4j/conf/`)

[code]

Add volumes for plugins + backup in amundsen-docker.yml:

[code]

Start containers,

[code]
ingest data via Databuilder

In the Amundsen frontend web, change descriptions. Maybe add owners…

In the Neo4j web console

[code]
Delete the Neo4j graph (still in the Neo4j web conso

[2019-08-05 23:42] ttannis commented on #41
Yep. https://github.com/lyft/amundsen/pull/20

[2019-08-05 23:42] #41 closed